<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carga de productos</title>
</head>
<body style="box-sizing: border-box; margin: 0px; padding: 0px;">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="http://localhost:8080/socket.io/socket.io.js"></script>

    <h1>Cargar Productos:</h1>
    <form action="/productos" method="post">
        <label for="title">Nombre del producto</label>
        <input type="text" id="title" name="title" /><br><br>

        <label for="price">Precio</label>
        <input type="number" id="price" name="price" /><br><br>

        <label for="url">Url de imagen</label>
        <input type="text" id="url" name="url" /><br><br>
        
        <button type="submit">Cargar</button>
    </form>

{{{body}}}
</body>
</html>
