<table style="background-color: rgb(255, 174, 0); border: 2px solid black; width: auto; margin: 10px; box-sizing:border-box;">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Imagen</th>
      <th>Precio</th>
    </tr>
  </thead>
  <tbody>
    {{#each listaproductos}}
    <tr>
      <td style="background-color: rgba(255, 211, 66, 0.986); border: 2px solid black; text-align: center; padding-left: 30px; padding-right: 30px;">{{this.title}}</td>
      <td style="background-color: rgba(255, 211, 66, 0.986); border: 2px solid black; text-align: center; padding-left: 30px; padding-right: 30px;"><img src={{this.url}} width="60px"></img></td>
      <td style="background-color: rgba(255, 211, 66, 0.986); border: 2px solid black; text-align: center; padding-left: 30px; padding-right: 30px;">${{this.price}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>


 


